*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ==== Colors ==== */
  --main-background-color: #141332;
  --content-background-color: #1D1D41;
  --primaryColor: #6359E9;
  --textColor: #fff;
  --submit-modal: #3772ff;
  --update-modal: #4caf50;
  --close-modal: #e53535;
  --ontime-bg-badge: #dcfdd4;
  --ontime-color-badge: #4fac16;
  --late-bg-badge: #fdd4d4;
  --late-color-badge: #ac1616;
  --view-bg: #fafdd4;
  --view-color: #ac9d16;

  --bg-row: #fcfcfc;
  --blackLight: #707070;
  --borderColor: #e6e5e5;
  --TableBorderColor: #7d8398;
  --form-color: #87898e;
  --search-form: #eff2ff;
  

  /* ==== Transition ==== */
  --transition-5: all 0.5s ease;
  --transition-4: all 0.4s ease;
  --transition-3: all 0.3s ease;
  --transition-2: all 0.2s ease;
}

.my-container {
  background-color: var(--main-background-color);
  width: 100%;
  height: 100vh;
}

/* === SideBar === */
.my-sidebar {
  height: 100vh;
  width: 320px;
  padding: 35px 25px;
  background-color: var(--content-background-color);
  border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
}

.my-sidebar .my-brand {
  width: 100%;
  display: flex; 
  align-items: center;
  gap: 5px;
}

.my-brand .my-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--textColor);
}

.my-sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
}

.my-sidebar-menu ul li {
  list-style: none;
}

.my-sidebar-menu ul li a span {
  font-weight: 300 !important;
}

.my-sidebar-menu ul li a.my-selected-link {
    background-color: var(--primaryColor);
}
.my-sidebar-menu ul li a i.my-selected-link {
  color: #fff;
}

.my-sidebar-menu ul li a span.my-selected-link {
    color: #fff;
    font-weight: 600 !important;
}

.my-sidebar-menu ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 55px;
  padding-left: 5px;
  transition: var(--transition-3);
  -webkit-transition: var(--transition-3);
  -moz-transition: var(--transition-3);
  -ms-transition: var(--transition-3);
  -o-transition: var(--transition-3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}

.my-sidebar-menu ul li a i {
  color: var(--textColor);
  height: 100%;
  width: 45px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-sidebar-menu ul li a .my-link-name {
  font-size: 16px;
  font-weight: 400;
  margin-left: 3px;
  color: var(--textColor);
}

.my-sidebar-menu ul li a:hover,
.my-sidebar-menu ul li a:hover {
  background-color: var(--primaryColor);
}

.my-sidebar-menu ul li a:hover i,
.my-sidebar-menu ul li a:hover .link-name {
  color: #fff;
}

/* === Content === */
.content-view {
  background-color: var(--content-background-color);
  padding: 30px;
  width: 1030px;
  height: 89vh;
  /* border: 2px solid var(--borderColor); */
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 0 0 0px #cfcfcf;
}

.content-top {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 40px 0 40px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
}

.content-top .left-content i {
  font-size: 30px;
  margin-right: 5px;
  color: var(--textColor);
}

.content-top .left-content span {
  font-size: 18px;
  margin-left: 5px;
}

.content-top .right-content .notification {
    position: relative;
    background-color: rgb(255, 62, 62);
    height: 12px;
    width: 12px;
    left: 31px;
    bottom: 8px;
    /* border: 1px solid #fff; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.content-top .right-content i {
  font-size: 35px;
  cursor: pointer;
}

.content-top .right-content img {
  margin-left: 20px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.card-view {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid var(--borderColor);
  padding-bottom: 70px;
}

.card-view .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 240px;
  /*background: linear-gradient(310deg, #5e72e4, #825ee4);
  */
  /* background-color: #5041bc; */
  background-color: var(--primaryColor);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: var(--titleIcon);
}

.card-view .card-content i {
  font-size: 35px;
  background-color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--titleIcon);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 8px;
}

.card-view .card-content span {
  font-size: 18px;
}

.card-content .count {
  font-weight: 300;
}

.content-center .footer {
  font-weight: 200;
  font-size: 15px;
  margin-left: 40px;
}
